.page_footer{
    position: absolute;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    .foot_table{
        width: 100%;
        tr{

            td{
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }
    .text_active{
        color: @theme_color;
    }
}