.error_book_html{
	.content{
		padding: 12px;
		overflow-y: auto;
		.exam_name{
			font-size: 22px;
		}
		.question_list{
			.item{
				border-radius: 10px;
				border: 1px solid fadeout(@theme_color,10%);
				background-color: #fff;
				margin-top: 15px;
				.head_bar{
					display: flex;
					justify-content: space-between;
					height: 30px;
					border-bottom: 1px solid #bbb;
					height: 40px;
					line-height: 40px;
					padding-left: 5px;
					padding-right: 5px;
					.number{
						font-size: 22px;
					}
					.score{
						font-size: 20px;
					}
				}
				.image{
					padding-top: 5px;
					padding-bottom: 5px;
					img{
						width: 100%;
					}
				}
			}
		}
	}
}