.login_html{
	width: 100%;
	height: 100%;
	background-image: url("../../imgs/login_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-left:4rem;
	padding-right: 4rem;
	overflow: hidden;
	.title{
		margin-top: 1.7rem;
		color:#fff;
		text-align: center;
		font-size: 1.2rem;
		margin-bottom: 3.2rem;
	}
	.input_style{
		margin-top: 1.5rem;
		height: 2.6rem;
		font-size: 1.0rem;
		border-radius:2.5rem;
	}
	.button_style{
		margin-top: 1.5rem;
		height: 2.6rem;
		border-radius:2.5rem;
		font-size: 1.0rem;
	}
	.forget_passwd{
		text-align: right;
		margin-top: 0.8rem;
		font-size: 0.9rem;
		color:#fff;
	}

}
