.login_html{
	width: 100%;
	height: 100%;
	background-image: url("../../imgs/login_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-left:70px;
	padding-right: 70px;
	overflow: hidden;
	.title{
		margin-top: 50px;
		color:#fff;
		text-align: center;
		font-size: 24px;
		margin-bottom: 40px;
	}
	.input_style{
		margin-top: 36px;
		height: 54px;
		font-size: 22px;
		border-radius:54px;
	}
	.button_style{
		margin-top: 36px;
		height: 55px;
		border-radius:54px;
		font-size: 22px;
	}
	.forget_passwd{
		text-align: right;
		margin-top: 28px;
		font-size: 20px;
		color:#fff;
	}

}
